<p style="color: green"><%= notice %></p>


<%= render @admin %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div>
  <%= link_to "Edit this admin", edit_admin_path(@admin) %>
  <br>
  <%= link_to "Back to admin", admins_path %>

  <%# <%= button_to "Destroy this admin", @admin, method: :delete %> 
</div>

