<div id="<%= dom_id train %>">
  <table class="table">
    <tr>
      <th>Train number:</th>
      <td><%= train.train_number %></td>
      <th>Departure station:</th>
      <td><%= train.departure_station %></td>
    </tr>
    <tr>
      <th>Termination station:</th>
      <td><%= train.termination_station %></td>
      <th>Departure date:</th>
      <td><%= train.departure_date %></td>
    </tr>
    <tr>
      <th>Departure time:</th>
      <td><%= train.departure_time.strftime('%H:%M') %></td>
      <th>Arrival date:</th>
      <td><%= train.arrival_date %></td>
    </tr>
    <tr>
      <th>Arrival time:</th>
      <td><%= train.arrival_time.strftime('%H:%M') %></td>
      <th>Ticket price:</th>
      <td><%= train.ticket_price %></td>
    </tr>
    <tr>
      <th>Train capacity:</th>
      <td><%= train.train_capacity %></td>
      <th>Number of seats left:</th>
      <td><%= train.number_of_seats_left %></td>
    </tr>
  </table>
</div>
