<p id=”notice”><%= notice %></p>
<h1>Rail Ticketing System</h1>
<p>Book rail tickets at the snap of your finger</p>
<% if current_user %>
  <% if current_user.is_a?(Admin) %>
    Logged in as <%= current_user.name %>.
    <%#= link_to "View all products", products_path %><br>
    <%#= link_to 'Add credit card', new_credit_card_path %><br>
    <%#= link_to 'View purchase history', transactions_path %><br>
    <%= link_to 'View Profile', admins_path(current_user.id) %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    Logged in as <%= current_user.name %>.
    <%#= link_to "View all products", products_path %><br>
    <%#= link_to 'Add credit card', new_credit_card_path %><br>
    <%#= link_to 'View purchase history', transactions_path %><br>
    <%= link_to 'View Profile', passenger_path(current_user.id) %>
    <%= link_to 'View Trains', viewTrains_path %>
    <%= link_to "Logout", logout_path %>
    <%= link_to "View Trips", viewTrips_path(current_user.id) %>
  <% end %>  
<% else %>
  <%= link_to "Signup", signup_path %> or
  <%= link_to "Login", login_path %>
  <br>
  <%= link_to "Login as admin", loginAdmin_path %>
<% end %>