<div id="<%= dom_id passenger %>">
  <p>
    <strong>Name:</strong>
    <%= passenger.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= passenger.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= passenger.password_digest %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= passenger.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= passenger.address %>
  </p>

  <p>
    <strong>Credit card information:</strong>
    <%= passenger.credit_card_information %>
  </p>

</div>
