<p style="color: green"><%= notice %></p>

<%= render @passenger %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div>
  <%= link_to "Edit this passenger", edit_passenger_path(@passenger) %>

  <br>

  <%= button_to "Destroy this passenger", @passenger, method: :delete %>
</div>
